<div lean-animate="swipeup">
<tabset>
    <tab topic="文章">
        <ul class="tab-content">
            <li ng-repeat="article in articles">
                <a ng-href="#/articles/{{article.id}}">
                    <p>{{article.title}}</p>
                    <small class="timestamp">{{article.time | date: 'fullDate'}}</small>
                </a>
                <div class="close"  ng-click="delete(true, article.id)"></div>
            </li>
        </ul>
        <load completed="nomoreArticles" pending="loading" onloadmore="loadArticles()"></load>
    </tab>
    <tab topic="评论">
        <ul class="tab-content">
            <li ng-repeat="comment in comments">
                <a ng-href="#/articles/{{comment.targetArticle}}">
                    <p class="tab-name">{{comment.name}}说：</p>
                    <p>{{comment.content}}</p>
                    <small class="timestamp">{{comment.time | date: 'fullDate'}}</small>
                </a>
                <div class="close" ng-click="delete(false, comment.id)"></div>
            </li>
        </ul>
        <load completed="nomoreComments" pending="loading" onloadmore="loadComments()"></load>
    </tab>
</tabset>
</div>